@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

  /* .form-slide-enter {
    opacity: 0;
    transform: translateX(100%);
  }
  
  .form-slide-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 500ms, transform 500ms;
  }
  
  .form-slide-exit {
    opacity: 1;
    transform: translateX(0%);
  }
  
  .form-slide-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 500ms, transform 500ms;
  } */
  .form-slide-enter {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  
  .form-slide-enter-active {
    opacity: 1;
    transform: scaleY(1);
    transition: opacity 500ms, transform 500ms;
  }
  
  .form-slide-exit {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: top;
  }
  
  .form-slide-exit-active {
    opacity: 0;
    transform: scaleY(0);
    transition: opacity 500ms, transform 500ms;
  }
  


  .text-slide-enter {
    opacity: 0;
    transform: translateY(100%);
  }
  
  .text-slide-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 500ms, transform 500ms;
  }
  
  .text-slide-exit {
    opacity: 1;
    transform: translateY(0%);
  }
  
  .text-slide-exit-active {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 500ms, transform 500ms;
  }
  